a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.material-icons {
  vertical-align: top;
  font-size: inherit;
}

.loginBox {
  float: right;
}

.sidebar {
  float: left;
  width: 300px;
  padding: 10px;
}

.subscriptions {

}

.subList {
  list-style: none;
  padding: 0px;
}

.subItem {
  font-size: 16px;
}

.sourceItem {
  float: left;
  margin: 20px;
  height: 200px;
  border: 1px solid #D8D8D8;
}
.SourceItem:hover {
  border-color: gray;
}

.sourcePicture {
  height: 45%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-bottom: 1px solid #EFEFEF;
}

.sourceTitle {
  font-weight: bold;
  height: 1.1em;
  overflow: hidden;
  margin-bottom: 15px;
}

.sourceDescription {
  height: 2.2em;
  overflow: hidden;
  margin-bottom: 15px;
}



.feedTitle {
  font-size: 26px;
  padding: 0px 20px;
}

.feedItems {
  float: left;
  width: 75%;
}

.feedItem {
  float: left;
  margin: 20px;
  height: 400px;
  border: 1px solid #D8D8D8;
}
.feedItem:hover {
  border-color: gray;
}

.titlePicture {
  height: 45%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  border-bottom: 1px solid #EFEFEF;
}

.titleText {
  font-weight: bold;
  height: 2.2em;
  overflow: hidden;
  margin-bottom: 15px;
}
.description {
  height: 6.6em;
  overflow: hidden;
  margin-bottom: 15px;
}

.mdl-card__supporting-text {
  font-size: 1em;
}

.mdl-card__menu {
  color: #fff;
}